<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616962929387-4t3n4btvb0h6gq7jmltaqtk84fi6h2o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616962929387-4t3n4btvb0h6gq7jmltaqtk84fi6h2o9</string>
	<key>API_KEY</key>
	<string>AIzaSyDC0Mj2q8amm_Ts72nhJU6vk9DKZq4Qdec</string>
	<key>GCM_SENDER_ID</key>
	<string>616962929387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evalentina.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-31ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-31ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616962929387:ios:79dd89ed4122c287ed04ae</string>
</dict>
</plist>